<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <title>Fog Machine Setup</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="row page-header">
        <h1>Fog Calibration</h1>
    </div>
    <div class="row">
        {% include 'topNav.html' %}
    </div>
    <div class="row">
        <div class="col-3">
            {% include 'leftNav.html' %}
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <hr />
    
    <div class="row navigations">
        <div class='col-2 offset-2'>
            <button" type="button" id="startButton" class="btn btn-outline-danger">Run</button>
        </div>
        <div class='col-2'>
            <a href="/" type="button" id="setupButton" class="btn btn-primary">Setup</a>
        </div>
        <div class='col-2'>
            <button type="button" id="operationButton" class="btn btn-success">Operation</button>
        </div>
        <div class='col-2'>
            <button type="button" id="fogButton" class="btn btn-outline-secondary" >Fog</button>
        </div>
        <div class='col-2'>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Flow</span>
                </div>
                <input type="text" class="form-control" id="currentFlowValue" disabled="disabled" aria-label="Flow Channel Value">    
            </div>
        </div>
    </div>
</div>

<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    let pidValues = {};
    let abortControl = false;
    let getControl = 0;

    // Handler for initial page load to get the input elements for the page
    $(function (){
        if ("{{ button_list[5] }}" == "flowDomain"){
            $("input[name=domain][value=flowDomain]").prop('checked', true);
            document.getElementById("timeValue").disabled = false;
            document.getElementById("flowValue").disabled = true;
            document.getElementById("timeValue").value = "{{ button_list[15] }}";
            document.getElementById('flowMultipleValue').disabled = false;
            document.getElementById('timeMultipleValue').disabled = true;
            document.getElementById("flowMultipleValue").value = "{{ button_list[16] }}";
        }
        if ("{{ button_list[5] }}" == "timeDomain"){
            $("input[name=domain][value=timeDomain]").prop('checked', true);
            document.getElementById("flowValue").disabled = false;
            document.getElementById("timeValue").disabled = true;
            document.getElementById("flowValue").value = "{{ button_list[15] }}";
            document.getElementById('flowMultipleValue').disabled = true;
            document.getElementById('timeMultipleValue').disabled = false;
            document.getElementById("timeMultipleValue").value = "{{ button_list[16] }}";
        }
        document.getElementById("pValue").value = "{{ button_list[6] }}";
        document.getElementById("iValue").value = "{{ button_list[7] }}";
        document.getElementById("dValue").value = "{{ button_list[8] }}";
        document.getElementById("sampleIntervalValue").value = "{{ button_list[10] }}";
        document.getElementById("controlIntervalValue").value = "{{ button_list[9] }}";

        // And to setup listener for temp data
        const temps = new EventSource("/get-temp-data/{{ button_list[10] }}");
        temps.onmessage = function (event) {
            // Update the data onscreen
            const tempData = JSON.parse(event.data);
            document.getElementById("temperatureValue").value = Math.floor(tempData.temperature);
            document.getElementById("moistureValue").value = Math.floor(tempData.humidity);
            // Write these values to....ini? csv?
        }
    })

    // Set up the JS Chart functionality
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Particle Average",
                    backgroundColor: 'rgb(255, 89, 94)',
                    borderColor: 'rgb(255, 89, 94)',
                    data: [],
                    fill: false,
                },
                {
                    label: "Set Point",
                    backgroundColor: 'rgb(255, 202, 58)',
                    borderColor: 'rgb(255, 202, 58)',
                    data: [],
                    fill: false,
                }
                ],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Average Sensor Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks : {
                            beginAtZero : true
                        },   
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data/calibrate");

        source.onmessage = function (event) {
            console.log(event.data);
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
                config.data.datasets[1].data.shift();
            }
            config.data.labels.push(data.time);
            // Calculate the average of the slected params
            // Use the Set Value for dataset 1
            config.data.datasets[0].data.push(data.average);
            config.data.datasets[1].data.push(data.setPoint);
            pidValues.currentAverage = data.average;
            pidValues.setPoint = data.setPoint;
            lineChart.update();
        }
    });

    // Handler for Domain Radio Buttons
    $(function (){
        $('input[type=radio][name=domain]').change(function(e){
            writeValueToIni({"domain": this.value}); 
            
            if (this.value == 'flowDomain'){
                document.getElementById("timeValue").disabled = false;
                document.getElementById("flowValue").disabled = true;
                document.getElementById('flowMultipleValue').disabled = false;
                document.getElementById('timeMultipleValue').disabled = true;
            }
            else{
                document.getElementById("flowValue").disabled = false;
                document.getElementById("timeValue").disabled = true;
                document.getElementById('flowMultipleValue').disabled = true;
                document.getElementById('timeMultipleValue').disabled = false;
            }
        }) 
    })
    
    // Handler for Clicking Run
    document.querySelector('#startButton').addEventListener('click', function(e){
        pidValues.pValue = $('#pValue').val(); 
        pidValues.iValue = $('#iValue').val();
        pidValues.dValue = $('#dValue').val();
        pidValues.controlInterval = $('#controlIntervalValue').val();
        pidValues.sampleInterval = $('#sampleIntervalValue').val();
        
        if (this.classList.contains('btn-danger')){
            // Stop the run and return
            clearInterval(getControl);
            this.classList.add('btn-outline-danger');
            this.classList.remove('btn-danger');
            return;
        }else{
            this.classList.add('btn-danger');
            this.classList.remove('btn-outline-danger');
        }

        if ($("input[name='domain']:checked").val() == 'flowDomain'){
            pidValues.domainConstant = $('#timeValue').val();
            pidValues.domain = 'flowDomain';
            pidValues.domainMultiplier = $('#flowMultipleValue').val();
        }else{
            pidValues.domainConstant = $('#flowValue').val();
            pidValues.domain = 'timeDomain';
            pidValues.domainMultiplier = $('#timeMultipleValue').val();
        }
        
        let validation = true;
        
        // Verify we have: pValue, iValue, dValue, timeSample (ControlInterval), setPoint, current average       
        for (const [key, value] of Object.entries(pidValues)){
            if (value == null || value == ""){
                alert (key + " has no value. Cannot proceed");
                e.preventDefault();
                validation = false;
            }
        }
        
        if (validation == true){
            // Write the values to the INI file (p, i, d, domainconstant, sample interval, control interval)
            writeValueToIni({"pvalue": Number(pidValues.pValue), 
                "ivalue": Number(pidValues.iValue),
                "dvalue": Number(pidValues.dValue),
                "controlinterval": Number(pidValues.controlInterval),
                "domainvalue": String(pidValues.domainConstant),
                "samplinginterval": Number(pidValues.sampleInterval),
                "domainmultiplier": Number(pidValues.domainMultiplier)});

            // begin calling run getting control value every controlInterval seconds - until abort happens
            let controlData = {
                lastRun: new Date(),
                controlValue: 0
                };
            getControl = setInterval(() => { controlData = generateControlValue(pidValues, controlData) }, 1000);

        }
    });

    function generateControlValue(pidValues, controlData){
        currentDate = new Date();
        console.log(((currentDate.getTime() - controlData.lastRun.getTime())/1000));
        if (((currentDate.getTime() - controlData.lastRun.getTime())/1000) >= pidValues.controlInterval ){
            $.ajax({
                type: 'GET',
                url: '/calculateControlValue?pValue=' + pidValues.pValue + '&iValue=' + pidValues.iValue + '&dValue=' + pidValues.dValue + '&setPoint=' + pidValues.setPoint + '&currentReading=' + pidValues.currentAverage,
                success: function(data){
                    controlData.controlValue = data;
                    handleControl(data, pidValues);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
            
            controlData.lastRun = currentDate;
            return controlData;
        }  
        return controlData; 
    }

    function handleControl(data, pidValues, textStatus, jqXHR){
        // Update the Control Value onscreen and in INI
        document.getElementById("controlValue").value = data;
        writeValueToIni({"controlValue": Number(data)}); 

        if (pidValues.domain == 'flowDomain'){
            // if flowdomain then output * flow multiplier (number to a channel) for time seconds (time to keep the fogger on)
            //Sleep time between 0 secs and 30 seconds (30000 ms)
            sleepTime = pidValues.domainConstant * 1000;
            if (sleepTime < 0){
                sleepTime = 0;
            }
            if (sleepTime > 30000){
                sleepTime = 30000;
            }

            // Flow level between 0 and 255
            flowLevel = data *pidValues.domainMultiplier;
            if (flowLevel < 0){
                flowLevel = 0;
            }
            if (flowLevel > 255){
                flowLevel = 255;
            }

            document.getElementById("currentFlowValue").value = Math.floor(flowLevel);
            console.log("Fire Fogger at: " + flowLevel);
            console.log("Sleeping for: " + sleepTime);
            if (flowLevel > 0){
                operateFogger('start', flowLevel)
                setTimeout(() => {  operateFogger('stop', pidValues.domainMultiplier); }, sleepTime);
            }else{
                console.log("Flow Level Zero, not operatinf fogger");
            }
            
        }
        if (pidValues.domain == 'timeDomain'){
            // if timedomain then output * time multiplier (number of seconds to fire) at flow level (number between 1 and 255)
            sleepTime = data * pidValues.domainMultiplier * 1000
            flowLevel = pidValues.domainConstant
            //Sleep time between 0 secs and 30 seconds (30000 ms)
            sleepTime = pidValues.domainConstant * 1000;
            if (sleepTime < 0){
                sleepTime == 0;
            }
            if (sleepTime > 30000){
                sleepTime == 30000;
            }

            // Flow level between 0 and 255
            flowLevel = data *pidValues.domainMultiplier;
            if (flowLevel < 0){
                flowLevel == 0;
            }
            if (flowLevel > 255){
                flowLevel == 255;
            }

            document.getElementById("currentFlowValue").value = flowLevel;
            console.log("Fire Fogger at: " + flowLevel);
            console.log("Sleeping for: " + sleepTime);
            operateFogger('start', flowLevel)
            setTimeout(() => {  operateFogger('stop', pidValues.domainMultiplier); }, sleepTime);
        }
        console.log(data);
    }

    function operateFogger(startStop, level){
        if (startStop == "start"){
            $.ajax({
                type: 'POST',
                url: '/fireFog/start/' + level,
                success: function(data){
                    console.log(data);
                    document.getElementById('fogButton').classList.add('btn-secondary');
                    document.getElementById('fogButton').classList.remove('btn-outline-secondary');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
        }
        else{
            $.ajax({
                type: 'POST',
                url: '/fireFog/stop/0',
                success: function(data){
                    console.log(data);
                    document.getElementById('fogButton').classList.remove('btn-secondary');
                    document.getElementById('fogButton').classList.add('btn-outline-secondary');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
        }
    }

    function writeValueToIni(settingArray){
        const jsonString = JSON.stringify(settingArray)
        $.ajax({
                type: 'POST',
                url: '/storeParams/' + jsonString,
                success: function(data){
                    console.log(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
    }

</script>
</body>
</html>
