{% extends 'base.html' %}

{% block title %}Smoke Reader{% endblock %}

{% block main %}

<div class="container">
    <h1>Current Settings</h1>

    <a href="/bioR/on">TURN ON</a>  
    <a href="/bioR/off">TURN OFF</a>

    <p>Possible ways this could work. We could read the states directly from the webpage. This seems iffy because if the webpage isnt up, its not recording</p>
    <p>Option two is that we can have a python script constantly running in the background, grabbing data and logging it somewhere for the page to pick up when asked</p>
    
        
    <h1 id="num"></h1>
    <h1 id="time"></h1>
    
    <script>
        setInterval(function(){$.ajax({
            url: '/update',
            type: 'POST',
            success: function(response) {
                console.log(response);
                $("#num").html(response["value"]);
                $("#time").html(response["time"]);
            },
            error: function(error) {
                console.log(error);
            }
        })}, 1000);
    </script>
</div>

{% endblock %}
