<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <title>Fog Machine Setup</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <div class="row page-header">
        <h1>Fog Setup</h1>
    </div>
    <div class="row">
        {% include 'topNav.html' %}
    </div>
    
    <div class="row">
        <div class="col-3">
            {% include 'setupLeftNav.html' %}
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <hr />
    {% include 'observations.html' %}
    <div class="row navigations">
        <div class='col-3 offset-3'>
            <a href="/calibrate" type="button" id="calibrateButton" class="btn btn-warning">Operate</a>
        </div>
        <!--<div class='col-3'>
            <button type="button" id="operationButton" class="btn btn-success">Operation</button>
        </div>-->
        <div class='col-3'>
            <button type="button" id="fogButton" class="btn btn-outline-secondary">Fog</button>
        </div>
    </div>
</div>

<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    let obs1 = 0;
    let obs2 = 0;
    let obs3 = 0;
    let obs4 = 0;
    let globalParticleValue = "{{ button_list[4] }}";

    // Handler for initial page load to get the input elements for the page
    $(function (){
        document.getElementById("pumpChannelValue").value = "{{ button_list[12] }}";
        document.getElementById("fanChannelValue").value = "{{ button_list[13] }}";
        document.getElementById("fanSpeedValue").value = "{{ button_list[14] }}";

        // And to setup listener for temp data
        const temps = new EventSource("/get-temp-data/{{ button_list[10] }}");
        temps.onmessage = function (event) {
            // Update the data onscreen
            const tempData = JSON.parse(event.data);
            document.getElementById("temperatureValue").value = Math.floor(tempData.temperature);
            document.getElementById("moistureValue").value = Math.floor(tempData.humidity);
            // Write these values to....ini? csv?
        }
    })

    // Handler for Particle Buttons
    document.querySelectorAll('.particleButton').forEach(item => {
        item.addEventListener('click', (e)=> {
            // Add the class of clicked and add this reading to the session to store what we're tracking. 
            if (e.target.className.indexOf('clicked') === -1) {
                e.target.className += ' clicked';
            } else {
                e.target.className = e.target.className.replace(' clicked', '');
            }

            // Communicate the array of clicked elements back to the configuration settings endpoint
            let particleValue = ''
            document.querySelectorAll('.particleButton').forEach(item => {
                if (item.classList.contains('clicked')){
                    particleValue += "1";
                }else{
                    particleValue += "0";
                }
            })
            globalParticleValue = particleValue;
            
            writeValueToIni({"selectedsizes": particleValue}); 
        })
    });

    // Handler for Fog Button
    document.querySelector('#fogButton').addEventListener('click', function(e){
        // Write Current Channel/Fogger Level Values to INI
        writeValueToIni({"pumpChannel": Number(document.getElementById("pumpChannelValue").value), "fanChannel": Number(document.getElementById("fanChannelValue").value), "fanSpeed": Number(document.getElementById("fanSpeedValue").value)}); 

        // If button clicked (btn-secondary) stop firing fog, toggle class
        if (e.target.className.indexOf('btn-outline-secondary') === -1){
            $.ajax({
                type: 'POST',
                url: '/fireFog/stop/0',
                success: function(data){
                    console.log(data);
                    e.target.className = e.target.className.replace('btn-secondary', 'btn-outline-secondary');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
        }
        // Else, fire fog, toggle class
        else{
            $.ajax({
                type: 'POST',
                url: '/fireFog/start/255',
                success: function(data){
                    console.log(data);
                    e.target.className = e.target.className.replace('btn-outline-secondary', 'btn-secondary');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
        }
        

    }, false) 
    
    // Handler for Calibrate button
    document.querySelector('#calibrateButton').addEventListener('click', function(e){
        // Write Current Channel/Fogger Level Values to INI
        writeValueToIni({"pumpChannel": Number(document.getElementById("pumpChannelValue").value),"fanChannel": Number(document.getElementById("fanChannelValue").value), "fanSpeed": Number(document.getElementById("fanSpeedValue").value)}); 
    });

    function writeValueToIni(settingArray){
        const jsonString = JSON.stringify(settingArray)
        $.ajax({
                type: 'POST',
                url: '/storeParams/' + jsonString,
                success: function(data){
                    console.log(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus); 
                    console.log("Error: " + errorThrown); 
                }
            });
    }

    // Set up the JS Chart functionality
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "1 microns",
                    backgroundColor: 'rgb(255, 202, 58)',
                    borderColor: 'rgb(255, 202, 58)',
                    data: [],
                    fill: false,
                },
                {
                    label: "2.5 microns",
                    backgroundColor: 'rgb(138, 201, 38)',
                    borderColor: 'rgb(138, 201, 38)',
                    data: [],
                    fill: false,
                },
                {
                    label: "4 microns",
                    backgroundColor: 'rgb(25, 130, 196)',
                    borderColor: 'rgb(25, 130, 196)',
                    data: [],
                    fill: false,
                },
                {
                    label: "10 microns",
                    backgroundColor: 'rgb(106, 76, 147)',
                    borderColor: 'rgb(106, 76, 147)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Current Sensor Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks : {
                            beginAtZero : true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
                config.data.datasets[1].data.shift();
                config.data.datasets[2].data.shift();
                config.data.datasets[3].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.obs1);
            config.data.datasets[1].data.push(data.obs2);
            config.data.datasets[2].data.push(data.obs3);
            config.data.datasets[3].data.push(data.obs4);

            lineChart.update();

            // Update the Buttons with the current values, and store to a JS Variable for reading
            document.querySelector('#oneButton').innerHTML = data.obs1;
            obs1 = data.obs1;
            document.querySelector('#twoPointFiveButton').innerHTML = data.obs2;
            obs2 = data.obs2;
            document.querySelector('#fourButton').innerHTML = data.obs3;
            obs3 = data.obs3;
            document.querySelector('#tenButton').innerHTML = data.obs4;
            obs4 = data.obs4;
        }
    });
</script>
</body>
</html>