<div class="row observations">
    <div class="col-3">
        1 micron Particles:
    </div>
    <div class="col-3">
        2.5 micron Particles:
    </div>
    <div class="col-3">
        4 micron Particles:
    </div>
    <div class="col-3">
        10 micron Particles:
    </div>
</div>
<div class="row observationButtons">
    <div class="col-3">
        <button type="button" id="oneButton" class="{{ button_list[0] }}">Initializing</button>
    </div>
    <div class="col-3">
        <button type="button" id="twoPointFiveButton" class="{{ button_list[1] }}">Initializing</button>
    </div>
    <div class="col-3">
        <button type="button" id="fourButton" class="{{ button_list[2] }}">Initializing</button>
    </div>
    <div class="col-3">
        <button type="button" id="tenButton" class="{{ button_list[3] }}">Initializing</button>
    </div>
</div>
<hr />