<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Pump Channel</span>
    </div>
    <input type="text" class="form-control" id="pumpChannelValue" aria-label="Pump Channel Value">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Fan Channel</span>
    </div>
    <input type="text" class="form-control" id="fanChannelValue" aria-label="Fan Channel Value">    
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Fan Speed</span>
    </div>
    <input type="text" class="form-control" id="fanSpeedValue" aria-label="Fan Channel Value">    
</div>

