<div class='col-3 offset-3'>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" >Temperature</span>
        </div>
        <input type="text" class="form-control" id="temperatureValue" disabled="disabled" aria-label="Temperature">
    </div>
</div>
<div class='col-3'>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" >Moisture</span>
        </div>
        <input type="text" class="form-control" id="moistureValue" disabled="disabled" aria-label="Moisture">
    </div>
</div>
<div class='col-3'>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" >Control Value</span>
        </div>
        <input type="text" class="form-control" id="controlValue" disabled="disabled" aria-label="Control Value">
    </div>
</div>