<div class='col-3 offset-3'>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" >Temperature</span>
        </div>
        <input type="text" class="form-control" placeholder="72" aria-label="Temperature" aria-describedby="basic-addon1">
    </div>
</div>
<div class='col-3'>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" >Moisture</span>
        </div>
        <input type="text" class="form-control" placeholder="72" aria-label="Moisture" aria-describedby="basic-addon1">
    </div>
</div>
<div class='col-3'>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" >Control Value</span>
        </div>
        <input type="text" class="form-control" placeholder="4.5" aria-label="Moisture" aria-describedby="basic-addon1">
    </div>
</div>